*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    align-content: center;
}
main{
    background: yellow;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
}
section{
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    align-content: center;
    height: 27rem;
}
#model{

    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}
h1{
    margin:.4rem auto;
}
#model_top, #model_bottom{
    margin: auto;
}
#frame{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 25%;
    background: darkgray;
}
#container{
    border: 1px solid black;
    width: 85%;
    height: 100%;
    background: rgb(82, 82, 82);
    margin: auto;
}
#display{
    background: blue;
    height: 81%;
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    margin-top:.4rem;
}
#display_top{
    background: salmon;
    width: 95%;
    height: 5%;
}
#display_bottom{
    border: 1px solid yellow;
    width: 85%;
}