*{
    margin: 0;
    padding: 0;
}
header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background: rgb(91, 133, 86);
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
section{
    background:rgb(202, 202, 202);
    box-shadow: inset 1.2px 1.2px 4px black;
    color:black;
    border: 1px solid black;
    border-radius: 1em;
    display: flex;
    flex-flow: column;
    align-content: center;
    height: 28rem;
    width: 17rem;
}
#model{
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}
h1{
    margin:.4rem auto;
}
#model_top, #model_bottom{
    margin: auto;
}
#frame{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 25%;
}
#container{
    border: 1px solid black;
    border-radius: .5em .5em 2em 2em;
    width: 85%;
    height: 100%;
    margin: auto;
    background: rgb(59, 59, 59);
}
#display{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: rgb(151, 228, 221);
    border: 1px solid black;
    border-radius: .5em;
    height: 81%;
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    margin-top:.4rem;
}
#display_top{
    width: 95%;
    height: 14%;
}
#display_bottom{
    width: 95%;
    height: 70%;
    font-size: 3.5em;
    text-align: right;
}
#keyboard{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
#keyboard_top{
    margin:.8em 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    & button{
        font-size: .9rem;
        color:white;
        background: black;
        border-radius:45%;
        width: 3em;
        padding: .2em .3em;
    }
}
#keyboard_main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:.5em 1.2em;
    margin-top: .2em;
    & #ac, #c{
        background: red;
    }
    & #sum{
        grid-area: 4/4/6/5;
    }
    & button{
        border-radius: .2em;
        font-size: 1.5rem;
        color:white;
        background: black;
    }
}
.oculto{
    visibility: hidden;
}